body {
  width: 100%;
  height: 100%;
  font-family: Geneva, sans-serif;
}
html {
  width: 100%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  font-family: "Montserrat", sans-serif;
  color: #a32d2c;
}
p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
}
h2.headline {
  font-size: 30px;
  font-style: italic;
}
@media (min-width: 767px) {
  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6;
  }
}
a {
  color: #a31f34;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #4d0f19;
}
.scheme1 svg .person {
  fill: #f3f3f3;
}
.scheme1 svg .nut {
  fill: #a31f34;
}
.scheme1 h1,
.scheme1 h2,
.scheme1 h3,
.scheme1 h4,
.scheme1 h5,
.scheme1 h6 {
  color: #a31f34;
}
.scheme1 .light {
  background-color: #a8a8a8;
  color: #0f0f0f;
}
.scheme1 .dark {
  background-color: #0f0f0f;
  color: #f3f3f3;
}
.scheme2 svg .person {
  fill: #0f0f0f;
}
.scheme2 svg .nut {
  fill: #008dff;
}
.scheme2 h1,
.scheme2 h2,
.scheme2 h3,
.scheme2 h4,
.scheme2 h5,
.scheme2 h6 {
  color: #008dff;
}
.scheme2 .light {
  background-color: #ffffff;
  color: #0f0f0f;
}
.scheme2 .dark {
  background-color: #919191;
  color: #f3f3f3;
}
.scheme3 svg .person {
  fill: #0f0f0f;
}
.scheme3 svg .nut {
  fill: #df8400;
}
.scheme3 h1,
.scheme3 h2,
.scheme3 h3,
.scheme3 h4,
.scheme3 h5,
.scheme3 h6 {
  color: #df8400;
}
.scheme3 .light {
  background-color: #ffffff;
  color: #0f0f0f;
}
.scheme3 .dark {
  background-color: #81ab44;
  color: #f3f3f3;
}
span.light {
  font-weight: 400;
}
.program {
  float: right;
  width: 60%;
}
.schedule {
  float: left;
  width: 35%;
  background: #c2c0bf;
  color: #f3f3f3;
}
.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(194, 192, 191, 0.3);
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #8a8b8c;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}
.navbar-custom .navbar-brand .navbar-toggle {
  padding: 4px 6px;
  font-size: 16px;
  color: #c2c0bf;
}
.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
  outline: none;
}
.navbar-custom .nav li.active {
  outline: nonte;
  background-color: rgba(194, 192, 191, 0.3);
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a.active {
  outline: none;
  background-color: rgba(194, 192, 191, 0.3);
}
@media (min-width: 767px) {
  .navbar {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .top-nav-collapse {
    padding: 0;
    background-color: #8a8b8c;
  }
  .navbar-custom.top-nav-collapse {
    border-bottom: 1px solid rgba(194, 192, 191, 0.3);
  }
}
.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
}
.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}
.intro .intro-body .intro-text {
  font-size: 18px;
}
.brand-heading {
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid #c2c0bf;
  border-radius: 35px;
  font-size: 40px;
  color: #c2c0bf;
  background: transparent;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
  outline: none;
  color: #c2c0bf;
  background: rgba(194, 192, 191, 0.1);
}
.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}
@-webkit-keyframes pulse {
  0 {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0 {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
section {
  padding: 80px 0;
  width: 100%;
}
#speakers {
  text-align: center;
  /* For modern browsers */
}
#speakers:before,
#speakers:after {
  content: "";
  display: table;
}
#speakers:after {
  clear: both;
}
#speakers .speaker {
  position: relative;
  float: left;
  width: 265px;
  min-height: 400px;
  margin: 9px;
  display: inline-block;
  border: 1px solid #f3f3f3;
}
#speakers .speaker > img {
  width: 263px;
}
#speakers .speaker > h2 {
  font-size: 28px;
  padding: 10px 70px;
  border-bottom: 1px solid #a31f34;
  margin-bottom: 15px;
}
#speakers .speaker > h3 {
  font-size: 16px;
  font-weight: normal;
}
#speakers .speaker > .bio > p {
  display: none;
  font-size: 12px;
  text-align: left;
  padding: 15px;
}
#speakers .speaker:hover {
  margin: 9px;
  border: 1px solid #c2c0bf;
}
#sponsors img {
  margin: 20px;
}
.btn {
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn-default {
  border: 1px solid #a31f34;
  color: #a31f34;
  background-color: transparent;
}
.btn-default:hover,
.btn-default:focus {
  border: 1px solid #a31f34;
  outline: none;
  color: #8a8b8c;
  background-color: #a31f34;
}
ul.banner-social-buttons {
  margin-top: 0;
}
@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}
footer {
  padding: 50px 0;
}
footer p {
  margin: 0;
}
::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(194, 192, 191, 0.2);
}
::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(194, 192, 191, 0.2);
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: rgba(194, 192, 191, 0.2);
}
/*Switch*/
label {
  display: block;
  background: #eee;
  padding: 0 10px;
  position: fixed;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
  margin-top: 5px;
}
label:hover {
  background: #ddca7e;
  color: #000;
  cursor: pointer;
}
input#switch {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
