@import "variables.less";
@import "mixins.less";


body {
    width: 100%;
    height: 100%;
    font-family: @text-font-two;
    // color: @text-color-two;
    // background-color: @bg-color-two;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    font-family: @titles-font-two;
    color: @titles-color-two;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

h2.headline {
    font-size: 30px;
    font-style: italic;
}


@media(min-width:767px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: @MITred;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    &:hover,
    &:focus {
        text-decoration: none;
        color: darken(@MITred,20%);
    }
}

.scheme1 {
    svg {
        & .person {
            fill: @white;
        }
        & .nut {
            fill: @accent1;
        }
    }

    & h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: @accent1;
    }

    & .light {
        background-color: lighten(@black, 60%);
        color: @black;
    }

    & .dark {
        background-color: @black;
        color: @white;
    }  
}

span.light {
    font-weight: 400;
}

.program {
    float: right;
    width: 60%;
}

.schedule {
    float: left;
    width: 35%;
    background: @box-bg-two;
    color: @box-text-two;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid fade(@MITgreylight, 30%);
    text-transform: uppercase;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: @MITgrey;
    .navbar-header {
        padding: 15px;
    }
    .navbar-brand {
        &:focus {
            outline: none;
        }
        .navbar-toggle {
            padding: 4px 6px;
            font-size: 16px;
            color: @MITgreylight;
            &:focus,
            &:active {
                outline: none;
            }
        }
    }
    .nav {
        li {
            &.active {
                outline: nonte;
                background-color: fade(@MITgreylight, 30%);
                text-shadow: none;
            }
            a {
                -webkit-transition: background .3s ease-in-out;
                -moz-transition: background .3s ease-in-out;
                transition: background .3s ease-in-out;
                text-shadow: 1px 1px 5px #000;
                &:hover,
                &:focus,
                &.active {
                    outline: none;
                    background-color: fade(@MITgreylight, 30%);
                    text-shadow: none;
                }
            }
        }
    }
    &.top-nav-collapse .nav li a {
        text-shadow: none;
    }
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        border-bottom: none;
        letter-spacing: 1px;
        background: transparent;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: @MITgrey;
        text-shadow: none;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid fade(@MITgreylight, 30%);
    }
}


.intro {
    background: url(../img/killian.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    text-align: center;
    
    .intro-body {

        padding-top: 180px;
        padding-bottom: 160px;
        background-color: rgba(0,0,0,0.5);
        background: -moz-linear-gradient(top,  rgba(0,0,0,0.5) 0%, rgba(168,168,168,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.5)), color-stop(100%,rgba(168,168,168,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(168,168,168,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(168,168,168,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(168,168,168,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(0,0,0,0.5) 0%,rgba(168,168,168,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#a8a8a8',GradientType=0 ); /* IE6-9 */

        h1, h2 {
            color: @MITred;
            text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.9), 0px 2px 0px rgba(27, 27, 27, 0.85);
        }
        h1 {
            font-size: 46px;
        }
        .intro-text {
            font-size: 24px;
        }
    }
}

.brand-heading {
    font-size: 30px;
    text-transform: uppercase;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid @MITgreylight;
    border-radius: 35px;
    font-size: 40px;
    color: @MITgreylight;
    background: transparent;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    &:hover,
    &:focus {
        outline: none;
        color: @MITgreylight;
        background: fade(@MITgreylight, 10%);
    }
    i.animated {
        -webkit-transition-property: -webkit-transform;
        -webkit-transition-duration: 1s;
        -moz-transition-property: -moz-transform;
        -moz-transition-duration: 1s;
    }
    &:hover {
        i.animated {
            -webkit-animation-name: pulse;
            -moz-animation-name: pulse;
            -webkit-animation-duration: 1.5s;
            -moz-animation-duration: 1.5s;
            -webkit-animation-iteration-count: infinite;
            -moz-animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
        }
    }
}

@-webkit-keyframes pulse {    
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

section {
    padding: 80px 0;
    width: 100%;
}

#speakers {
    text-align: center;

    /* For modern browsers */
    &:before, &:after {
        content:"";
        display:table;
    }
      
    &:after {
        clear:both;
    }

    & .speaker {
        position: relative;
        float: left;
        width: 265px;
        min-height: 400px;
        margin: 9px;
        // color: @black;
        display: inline-block;
        border: 1px solid @white;
        & > img {
            width: 263px;
        }
        & > h2 {
            font-size: 28px;
            padding: 10px 70px;
            // color: @black;
            // background-color: @white;
            border-bottom: 1px solid @MITred;
            margin-bottom: 15px;
        }
        & > h3 {
            font-size: 16px;
            font-weight: normal;
        }
        & > .bio > p {
            display: none;
            font-size: 12px;
            text-align: left;
            padding: 15px;
        }
        &:hover {
            margin: 9px;
            border: 1px solid @MITgreylight;
        }
    }
}

.keynote {
    margin-bottom: 50px;
}

#sponsors img {
    margin: 20px;
    height: 50px;
}

.btn {
    text-transform: uppercase;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid @MITred;
    color: @MITred;
    background-color: transparent;
    &:hover,
    &:focus {
        border: 1px solid @MITred;
        outline: none;
        color: @MITgrey;
        background-color: @MITred;
    }
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons {
        li {
            display: block;
            margin-bottom: 20px;
            padding: 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

footer {
    padding: 50px 0;
    p {
        margin: 0;
    }
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: fade(@MITgreylight, 20%);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: fade(@MITgreylight, 20%);
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    webkit-tap-highlight-color: fade(@MITgreylight, 20%);
}